#container {
    display: flex;
    justify-content: center;
}

.box {
    width: 140px;
    height: 40px;
    flex-wrap: wrap;
    margin: 3px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.green{
    background-color: green;
    font-weight: bold;
}
.orange{
    background-color: orange;
    font-weight: bold;
}
.purple{
    background-color: purple;
    font-weight: bold;
}
